<h2> <%= mall.nameOfMall %></h2>

<div>
    Rating: <%= mall.rating %>/5
</div>
<div>
    Location: <%= mall.location %>
</div>
<div>
    Opening Hours: <%= mall.openingHour %>
</div>
<div>
    Contact Number: <%= mall.PhoneNumber %>
</div>
<div>
    Created@: <%= mall.createdAt %>
</div>

<div>
    Updated@: <%= mall.updatedAt %>
</div>