
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="<%=mall.thumbnail%>" alt="image of <%=mall.nameOfMall%>" /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder"><%=mall.nameOfMall%></h1>
                <h3><a href="/mall/detail?id=<%=mall._id%>"><%=mall.shop%></a></h3>
                <div class="fs-5 mb-5">
                    <!-- Mall description -->
                    <div class="text-muted">
                        <% for(let i = 1; i <= 5; i++) {%>
                            <% if(i <= mall.rating) { %>
                                <i class="bi bi-star-fill"></i>
                            <%} else{%>
                                <i class="bi bi-star"></i>
                            <%}%>
                        <%}%>
                    </div>
                </div>
                <p class="lead"><%=mall.aboutOfMall%></p>
                <span>Location</span><p class="lead"><%=mall.location%></p>
                <span>Opening Hours</span>
                <p class="lead">
                  <%= mall.openingHour.split('  ').join('<br>') %>
                </p>
                <span>Contact Us</span><p class="lead"><%=mall.PhoneNumber%></p>
            </div>
        </div>
    </div>
</section>


<!-- Images of the Mall -->
<div class="container px-4 px-lg-5">
    <div class="row py-5">
        <% mall.images.forEach(function(image) {%>
            <div class="col-sm-4">
                <div class="card mx-auto mt-3">
                    <a href="<%=image%>" target="_blank">
                        <img src="<%= image%>" class="card-img-top" alt="a picture of <%=mall.nameOfMall%>">
                    </a>
                </div>
            </div>
        <%})%>
    </div>
</div>


<!-- Shop -->

<% shops.forEach((shop) => { %>
    <section>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="card mb-3">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="<%= shop.thumbnail%>" class="img-fluid rounded-start" alt="<%= shop.images%>">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title"><a href="/shop/detail?id=<%=shop._id%>"><%=shop.name%></a></h5>
                            <!-- Shop stars -->
                            <div class="text-muted">
                                <% for(let i = 1; i <= 5; i++) {%>
                                    <% if(i <= shop.rating) { %>
                                        <i class="bi bi-star-fill"></i>
                                    <%} else{%>
                                        <i class="bi bi-star"></i>
                                    <%}%>
                                <%}%>    
                            </div>
                            <p class="card-text"><%=shop.comment%></p>
                            <p class="card-text"><small class="text-muted">Created at <%=shop.createdAt%></small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%})%>