<h1>Edit Mall</h1>

<form method="POST" action="/mall/update" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label"> Description </label>
        <textarea name="aboutOfMall" class="form-control"><%=mall.aboutOfMall %></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label"> Mall Name </label>
        <input type="text" name="nameOfMall" value="<%=mall.nameOfMall %>" class="form-control"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Rating</label>
        <select name="rating" class="form-select" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
  
   
    <div class="mb-3">
        <label class="form-label"> Location </label>
        <input type="text" name="location" value="<%=mall.location %>" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label"> Opening Hour </label>
        <input type="text" name="openingHour" value="<%=mall.openingHour %>" class="form-control"/>
    </div>

    <div class="mb-3">
        <label class="form-label"> Contact </label>
        <input type="text" name="PhoneNumber" value="<%=mall.PhoneNumber %>" class="form-control" />
    </div>

    <!-- Thumbnail -->
    <div class="mb-3">
        <label class="form-label" for="thumbnail">Shop thumbnail</label><br>
        <%if(mall.thumbnail) {%>
            <img src="<%=mall.thumbnail%>" class="imageSmall" alt="thumbnail of <%=mall.nameOfMall%>">
        <%} else {%>
            <h4>Thumbnail is not available for this shop</h4>
            <%}%>
        <input type="file" class="form-control my-2" name="thumbnail" accept="image/png, image/jpeg"/>   
    </div>
    <!-- shop images -->
    <div class="mb-3">
        <label for="shopImages" class="form-label">Images of the shop</label><br>
        <% if(mall.images.length > 0) {%>
            <div class="card-group">
            <% mall.images.forEach(function(image, i) {%>
                <div class="card">
                    <img class="imageSmall mx-1 card-img-top" src="<%=image%>" alt="">
                    <a href="/mall/image/delete?index=<%=i%>&mall=<%=mall._id%>" class="card-title">delete</a>
                </div>
                <%})%>
            </div>
        <%} else {%>
            <h4>No images were found for this shop</h4>
        <%}%>
        <input type="file" class="form-control my-2" name="mallImages" accept="image/png, image/jpeg" multiple/>    
    </div>

    <input type="hidden" name="id" value="<%=mall._id%>" class="form-control"/>

    <div class="mb-3">
        <button class="btn btn-primary mt-2">Update mall</button>
    </div>
</form>