<h1>User</h1>

<table class="table table-striped">
    <caption>List of Users (admin view Only)</caption>
    <tr>
<th>Name</th>
<th>Email Address</th>
<th>User Type</th>
<th>Edit</th>
<th>Delete</th>
    </tr>

<% users.forEach(function (user){%>
<tr>
<td><a href="/user/detail?id=<%= user._id  %>"><%= user.name  %></a> </td>
<td><%= user.email  %></td>
<td><%= user.isAdmin  %></td>
<td><a href="/user/edit?id=<%= user._id  %>" >Edit</a></td>
<td><a href="/user/delete?id=<%= user._id  %>" >Delete</a></td>

</tr>

<%  }) %>


</table>