<h2> <%= shop.name %></h2>

<div>
    Rating: <%= shop.rating %>/5
</div>
<div>
    Location: <%= shop.location %>
</div>
<div>
    Opening Hours: <%= shop.workingHours %>
</div>
<div>
    Contact Number: <%= shop.contactNumber %>
</div>

<div>
    Mall: <%= shop.mall.nameOfMall %>
</div>