<h1>Edit Shop</h1>

<form method="POST" action="/shop/edit" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label"> Mall Name </label>
        <input type="text" name="name" value="<%=shop.name %>" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label"> Description </label>
        <textarea name="description" class="form-control"><%=shop.description %></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Category</label>
        <select name="category" class="form-select" value="<%=shop.category%>">
            <option value="Fashion">Clothing & Fashion</option>
            <option value="Electronics">Electronics</option>
            <option value="Home"> Home & Furnishings </option>
            <option value="Entertainment">Entertainment</option>
            <option value="Health"> Health & Wellness </option>
            <option value="Jewelry">Jewelry & Accessories </option>
            <option value="Sports">Sports & Outdoor </option>
            <option value="Food"> Food & Beverages </option>
         
        </select>
    </div>
    <div>
        <label class="form-label"> Location </label>
        <input type="text" name="location" value="<%=shop.location %>" class="form-control" />
    </div>
    <br>
    <div class="mb-3">
        <label class="form-label"> Opening Hours </label>
        <input type="text" name="workingHours" value="<%=shop.workingHours %>" class="form-control"/>
    </div>

    <div class="mb-3">
        <label class="form-label"> Phone Number </label>
        <input type="number" name="contactNumber" value="<%=shop.contactNumber %>" class="form-control" />
    </div>

    <!-- Thumbnail -->
    <div class="mb-3">
        <label class="form-label" for="thumbnail">Shop thumbnail</label><br>
        <%if(shop.thumbnail) {%>
            <img src="<%=shop.thumbnail%>" class="imageSmall" alt="thumbnail of <%=shop.name%>">
        <%} else {%>
            <h4>Thumbnail is not available for this shop</h4>
            <%}%>
        <input type="file" class="form-control my-2" name="thumbnail" accept="image/png, image/jpeg"/>   
    </div>
    <!-- shop images -->
    <div class="mb-3">
        <label for="shopImages" class="form-label">Images of the shop</label><br>
        <% if(shop.images.length > 0) {%>
            <div class="card-group">
            <% shop.images.forEach(function(image, i) {%>
                <div class="card">
                    <img class="imageSmall mx-1 card-img-top" src="<%=image%>" alt="">
                    <a href="/shop/image/delete?index=<%=i%>&shop=<%=shop._id%>" class="card-title">delete</a>
                </div>
                <%})%>
            </div>
        <%} else {%>
            <h4>No images were found for this shop</h4>
        <%}%>
        <input type="file" class="form-control my-2" id="images" name="shopImages" accept="image/png, image/jpeg" multiple/>    
    </div>
    
    <input type="hidden" name="id" value="<%=shop._id%>"/>
    <div>
        <input class="btn btn-primary mt-2" type="submit" value="Update shop"/>
    </div>
<br>
</form>