<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Shop index</title>
</head>
<body>
    <!-- <table>
        <tr>
            <th>Shop Name</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% shops.forEach(function(shop) {%>
            <tr>
                <td><a href="/shop/detail?id=<%=shop._id%>"><%=shop.name%></a></td>
                <td><%=shop.category%></td>
                <td><a href="/shop/edit?id=<%=shop._id%>">Edit</a></td>
                <td><a href="/shop/delete?id=<%=shop._id%>">Delete</a></td>
            </tr>
            <%})%>
    </table> -->
    <div class="row">
        <% shops.forEach(function(shop) {%>
            <div class="col-sm-4">
                <div class="card mx-auto mt-3">
                    <img src="<%= shop.thumbnail%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%=shop.name%></h5>
                        <p class="card-text">
                            <% if(shop.description.length > 300) {%>
                                <%=shop.description.substring(0, 300)%> ...                            
                                <%} else {%>
                                    <%=shop.description%>
                                    <%}%>
                        </p>
                        <a href="/shop/detail?id=<%=shop._id%>" class="btn btn-primary">View Shop</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><%=shop.rating%> stars</small>
                        <% for(let i = 1; i <= 5; i++) {%>
                            <% if(i <= shop.rating) { %>
                                <i class="bi bi-star-fill"></i>
                            <%} else{%>
                                <i class="bi bi-star"></i>
                            <%}%>
                        <%}%>
                    </div>
                </div>
            </div>
        <%})%>
    </div>

    <br>
<div class=" table-responsive-sm">
    <table class="table table-bordered table-hover">
        <caption>List of Shops (admin view Only)</caption>
        <thead>
        <tr class="table-dark">
            <th scope="col text-center">#</th>
            <th scope="col" class="text-center">Shop</th>
            <th scope="col" class="text-center">Category</th>
            <th scope="col" class="text-center">Rating</th>
            <th scope="col" class="text-center">Created At</th>
            <th scope="col"  class="text-center">Edit Shop</th>
            <th scope="col" class="text-center">Delete Shop</th>
            
        </tr> 
    </thead>
    
        <% shops.forEach(function (shop,index) { %> 
        <tbody>
        <tr>
            <th scope="row"><%= index + 1 %></th>
            <td class="text-center">
               <a href="/shop/detail?id=<%= shop._id %>">
                <%= shop.name %>
            </td>
           
            
            <td class="text-center"> <%= shop.category %> </td>
            <td class="text-center"> <%= shop.rating%> </td>
            <td class="text-center"> <%= shop.createdAt %> </td>
        
            
            <td><a href="/shop/edit?id=<%= shop._id%>">Edit shop</a></td>
            <td><a href="/shop/delete?id=<%= shop._id%>">Delete shop</a></td>
        </tr>
    </tbody>
            <%});%>
        <tbody></tbody>    
    </table>
    
    </div>
</body>
</html>