<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop index</title>
</head>
<body>
    <table>
        <tr>
            <th>Shop Name</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% shops.forEach(function(shop) {%>
            <tr>
                <td><a href="/shop/detail?id=<%=shop._id%>"><%=shop.name%></a></td>
                <td><%=shop.category%></td>
                <td><a href="/shop/edit?id=<%=shop._id%>">Edit</a></td>
                <td><a href="/shop/delete?id=<%=shop._id%>">Delete</a></td>
            </tr>
            <%})%>
    </table>
</body>
</html>